@define-color foreground #eaeaea;
@define-color background #020202;
@define-color cursor #eaeaea;

@define-color color0 #020202;
@define-color color1 #9D9DA0;
@define-color color2 #B1B1B1;
@define-color color3 #C2C3BF;
@define-color color4 #D1D1D1;
@define-color color5 #DFE0DE;
@define-color color6 #E1E1DE;
@define-color color7 #eaeaea;
@define-color color8 #a3a3a3;
@define-color color9 #9D9DA0;
@define-color color10 #B1B1B1;
@define-color color11 #C2C3BF;
@define-color color12 #D1D1D1;
@define-color color13 #DFE0DE;
@define-color color14 #E1E1DE;
@define-color color15 #eaeaea;
