:root {
    --background: #020202;
    --foreground: #eaeaea;
    --color1: #9D9DA0;
    --color2: #B1B1B1;
    --color3: #C2C3BF;
    --color4: #D1D1D1;
    --color5: #DFE0DE;
    --color6: #E1E1DE;
    --color8: #a3a3a3;
    --color15: #eaeaea;
}
